---
whiskers:
  version: 2.5.1
  filename: catppuccin-definitions.el
  hex_format: "#{{r}}{{g}}{{b}}"
---
;;; {{ whiskers.filename }} --- The Catppuccin palette -*- no-byte-compile: t; -*-
({%- for id, flavor in flavors %}({{id}} .
   ({% for id, color in flavor.colors -%}
   ({{id}} . "{{color.hex}}")
   {%- if loop.last -%})){%- endif %}{% if not loop.last %}
   {% endif %}{% endfor %}{%- if loop.last %}){% endif %}
{% endfor %}
