name: Test .el files

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install Emacs 26
        run: |
          wget https://security.debian.org/debian-security/pool/updates/main/e/emacs/emacs_26.1+1-3.2+deb10u6_all.deb https://mirrors.kernel.org/ubuntu/pool/universe/c/compat-el/elpa-compat_29.1.4.4+dfsg-1_all.deb
          sudo apt install --allow-downgrades ./emacs_26.1+1-3.2+deb10u6_all.deb ./elpa-compat_29.1.4.4+dfsg-1_all.deb

      - name: Install Just
        uses: extractions/setup-just@v2
        with:
          just-version: 1.13
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: just test

      - name: Check .el files
        run: emacs --script scripts/check-lisp-files.el

      - name: Check indentation
        run: git diff --exit-code
